---
import Header from '../components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saurabh Joshi | ASP.NET Developer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
  </head>
  <body>
    <Header />
    <main class="min-h-screen">
      <slot />
    </main>
  </body>
</html>